<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Signup" method="post">
    <h2>Sign In</h2>
    <label>Email ID</label>
    <input type="text" placeholder="Enter the Name" name="name"/>
    <label>Password</label>
    <input type="password" placeholder="Enter the password" name="password"/>
    <button>check it</button>
    </form>
</body>
</html>